.u-section-1 {
  background-image: url("images/c5d6cfd01885c6974a19cdc89dc16945180f185dc0c908c37f0cf1f8b842a35d349ccec17280f225f62b086c22050f58eb0d57cdbe0a7d850c37be_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 887px;
}

.u-section-1 .u-text-1 {
  margin: 282px 540px 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 600;
  margin: 23px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 120px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 529px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Actor;
  margin: 39px 0 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  margin: 87px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 409px;
  animation-duration: 2000ms;
  background-image: url("images/MyPost1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 10px 10px 20px 0 rgba(128,128,128,1);
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 337px;
  }

  .u-section-2 .u-image-1 {
    min-height: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 258px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 581px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-text-1 {
  width: 740px;
  font-weight: normal;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-3 .u-icon-1 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 12px) calc(33.3333% - 12px) calc(33.3333% - 12px);
  grid-gap: 18px 18px;
  min-height: 377px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
  box-shadow: 10px 10px 18px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
  box-shadow: 10px 10px 18px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 1px 0 0;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
  box-shadow: 10px 10px 18px 0 rgba(128,128,128,1);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
    min-height: 315px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  font-family: Aclonica;
  width: 388px;
  margin: 200px auto 60px;
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 578px;
}

.u-section-5 .u-image-1 {
  width: 551px;
  height: 481px;
  object-position: 50% 5.63%;
  margin: 37px auto 0 19px;
}

.u-section-5 .u-group-1 {
  min-height: 368px;
  width: 631px;
  margin: -458px auto 60px 490px;
}

.u-section-5 .u-container-layout-1 {
  padding: 35px 40px 35px 120px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-5 .u-image-1 {
    width: 520px;
    height: 387px;
    margin-top: 129px;
    margin-left: 20px;
  }

  .u-section-5 .u-group-1 {
    width: 520px;
    margin-top: -456px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 175px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 353px;
    margin-left: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: -680px;
    margin-right: -7px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px 30px 95px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 823px;
  }

  .u-section-5 .u-image-1 {
    width: 476px;
    height: 372px;
    margin-top: 391px;
  }

  .u-section-5 .u-group-1 {
    min-height: 407px;
    width: 500px;
    margin-top: -704px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-5 .u-image-1 {
    width: 311px;
    height: 273px;
    margin-top: 279px;
  }

  .u-section-5 .u-group-1 {
    min-height: 259px;
    width: 304px;
    margin-top: -493px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 632px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-6 .u-shape-1 {
  height: 412px;
  width: 429px;
  background-image: none;
  margin: 70px 0 0 auto;
}

.u-section-6 .u-image-1 {
  width: 439px;
  height: 411px;
  margin: -481px auto 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 468px;
  }

  .u-section-6 .u-shape-1 {
    height: 349px;
    width: 345px;
  }

  .u-section-6 .u-image-1 {
    width: 345px;
    height: 348px;
    margin-top: -418px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 463px;
  }

  .u-section-6 .u-btn-1 {
    padding: 10px 32px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-6 .u-shape-1 {
    height: 239px;
    width: 260px;
  }

  .u-section-6 .u-image-1 {
    width: 260px;
    height: 256px;
    margin-top: -308px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-6 .u-shape-1 {
    height: 376px;
    width: 407px;
    margin-right: auto;
    margin-left: 60px;
  }

  .u-section-6 .u-image-1 {
    width: 402px;
    height: 377px;
    margin-top: -445px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-6 .u-shape-1 {
    height: 295px;
    width: 293px;
    margin-top: 54px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: -348px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}