.u-section-1 .u-sheet-1 {
  min-height: 530px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/raspberry-pi.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 400px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Amaranth;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 31px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-1 .u-btn-1 {
    width: 99px;
    height: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 253px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 162px;
  }

  .u-section-1 .u-image-1 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 56px;
  }

  .u-section-1 .u-image-1 {
    min-height: 179px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 901px;
  margin: 60px auto 0 120px;
}

.u-section-2 .u-image-1 {
  min-height: 800px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 800px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-group-1 {
  width: 512px;
  min-height: 340px;
  background-image: none;
  margin: 460px auto 0 -61px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-family: Audiowide;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 32px 521px 0 auto;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  color: rgb(92, 107, 192) !important;
  margin: -64px 140px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-left: 39px;
  }

  .u-section-2 .u-image-1 {
    min-height: 551px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 551px;
  }

  .u-section-2 .u-group-1 {
    width: 451px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 499px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1275px;
  }

  .u-section-2 .u-image-1 {
    min-height: 660px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 920px;
  }

  .u-section-2 .u-image-1 {
    min-height: 416px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 156px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 88px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 501px;
}

.u-section-3 .u-text-1 {
  width: 561px;
  background-image: none;
  font-family: Aclonica;
  margin: 60px auto 0;
}

.u-section-3 .u-slider-1 {
  width: 758px;
  min-height: 322px;
  margin: 20px auto -146px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 80px 30px 70px;
}

.u-section-3 .u-image-1 {
  height: 258px;
  width: 279px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -258px 0 0 309px;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0 309px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 309px 62px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 80px 30px 70px;
}

.u-section-3 .u-image-2 {
  width: 279px;
  height: 258px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -258px 0 0 309px;
}

.u-section-3 .u-text-5 {
  margin: 20px 0 0 309px;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 309px 0;
}

.u-section-3 .u-carousel-control-1 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  width: 44px;
  height: 44px;
  background-image: none;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3 .u-slider-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 299px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: auto;
    margin-bottom: 0;
    margin-left: 299px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 109px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 109px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-slider-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 308px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 308px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 308px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 30px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-slider-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-slider-1 {
    width: 340px;
    min-height: 370px;
  }

  .u-section-3 .u-image-1 {
    height: 313px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 18px;
  }

  .u-section-3 .u-btn-2 {
    margin-right: 0;
  }
}