.u-section-1 {
  min-height: 897px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 884px);
  background-image: linear-gradient(#adcce9, #f1b5b8);
  left: 0;
  right: auto;
}

.u-section-1 .u-image-1 {
  width: 815px;
  height: 609px;
  object-position: 2.6% 50%;
  background-position: 2.6% 50%;
  margin: 60px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 557px;
  min-height: 498px;
  background-image: none;
  margin: -378px auto 60px calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 28px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 33px 0 0;
}

.u-section-1 .u-text-2 {
  font-family: Actor;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 882px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 759px);
  }

  .u-section-1 .u-image-1 {
    width: 727px;
    height: 538px;
    margin-top: 68px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 485px;
    min-height: 514px;
    margin-top: -307px;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 877px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 578px);
  }

  .u-section-1 .u-image-1 {
    width: 562px;
    height: 430px;
    margin-top: 69px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 380px;
    min-height: 545px;
    margin-top: -236px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 947px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 452px);
  }

  .u-section-1 .u-image-1 {
    width: 458px;
    height: 350px;
    margin-top: 60px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 363px;
    margin-top: -68px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 869px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-image-1 {
    width: 305px;
    height: 233px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 297px;
    min-height: 564px;
    margin-top: -49px;
    margin-bottom: 59px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-image-1 {
  width: 426px;
  height: 187px;
  margin: 60px auto 60px 316px;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-left: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 150px;
    margin-left: 0;
  }
}